*{
    margin : 0 auto;
    padding: 0;
}
#wrap{
    width: 1200px;
}

#head{
    width: 100%;
    height: 100px;
    background: #e0f7fa;
}

#side{
    width: 100%;
    height: 300px;
    background: #b3e5fc;
    
}

#content{
    width: 100%;
    height: 300px;
    background: #81d4fa;
}

#content .container{
    width: 18%;
    margin: 1%;
    height: 40%;
    background-color: #29b6f6; 
    float: left; 
    border-radius: 5px;
}

#footer{
    width: 100%;
    height: 100px;
    background: #4fc3f7;
    clear: both;
}

@media (max-width: 1200px){
    #wrap { width: 100%;}
    #content .container{width: 23%;}
    #content .container:nth-child(5n){ display: none;}
    
}

@media (max-width: 768px){
    #wrap { width: 100%;}
    #content .container{width: 30%;height: 25%;}
    #content .container:nth-child(5){display: block;}
}

@media (max-width: 550px){
    #wrap { width: 100%;}
    #content{height: 500px;}
    #content .container{margin-top:10px; width:45%;height: 17%;}
    #content .container:nth-child(5n){ display: block;}
}