#wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;
}
.tables a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    text-align: left; 
}

.tables a:hover {
    color: rgb(18, 180, 45);
}

.tables .title {
    text-align: left;
    width: 60%;
}

.tables {
    border-top: 1px solid purple;
    width: 1000px;
    margin: 0 auto;
    
}

.tables td {
    text-align: center;
    
}

.tables th,
.tables td {
    padding: 10px;
    border-bottom: 1px solid gray;
}

#wrap .pages a {
    display: inline-block;
    padding: 5px;
    margin-left: 10px;
    border-radius: 30px;
    border: 1px solid gray;
    text-decoration: none;
    color: black;
    margin-top: 20px;
}

#wrap .pages a.btn {
    background-color: rgb(170, 164, 164);
}